@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --oscuro: #3a02c1;
    --claro: #b922c1;
    --degradado:linear-gradient(135deg, var(--claro),var(--oscuro));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

*::selection{
    background: var(--claro);
    color: white;
}

html{
    font-size: 62.4%;
    overflow: auto;
	scroll-behavior: smooth;
}

body{
    background: url(../img/fondo_tetriminos.svg) no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 3.2rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degradado);
    font-size: 2.5rem;
    color:#f9f9f9;
    border: 5px solid #f9f9f9;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    animation-name: rebotar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.btn:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 3rem;
    font-weight: bold;
    color: var(--oscuro);
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0.5rem;
}

header .logo:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.logo span{
    color:var(--claro);
}

header .navbar a{
    font-size: 2rem;
    font-weight: 550;
    margin-left: 2rem;
    color: var(--oscuro);
    border-radius: 1rem;
    padding: 0.5rem;
}

header .navbar a:hover{
    color: white;
    background: var(--degradado);
    box-shadow: 0 0 5px cyan,
    0 0 15px cyan, 0 0 30px cyan,
    0 0 60px cyan, 0 0 100px cyan;
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--oscuro);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.inicio .content h3{
    font-size: 5.5rem;
    color: white;
    animation-name: caer;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.inicio .content h3 span{
    color: var(--oscuro);
    background-color: #f9f9f9;
    padding: 0.5rem 1rem; 
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.inicio .content h3 .Tetri{
    color: var(--claro);
    padding: 0rem;
}

@keyframes caer{
    from{
        transform: translateY(-350px);
    }
    to{
        transform: translateY(0);
    }
}

.inicio .content p{
    font-size: 2rem;
    font-weight: 500;
    color:white;
    padding: 30px;
    border-radius: 1rem;
    margin-top: 10px;
    background: var(--degradado);
    border: 5px solid #f9f9f9;
}

.información h1{
    text-align: center;
    color: white;
    font-size: 5.5rem;
    text-transform: capitalize;
    padding: 1rem;
    background: var(--degradado);
    border: 5px solid #f9f9f9;
    border-radius: 50%;
    max-width: 750px; 
    margin: 3rem auto;
    animation-name: rebotar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rebotar{
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%{
        transform: translateY(-30px);
    }

    60%{
        transform: translateY(-15px);
    }
}

.información .caja-contenedor{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.información .caja-contenedor .caja{
    flex: 1 1 30rem;
    background: var(--degradado);
    border-radius: .5rem;
    border: 1rem solid white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: 3rem;
    text-align: center;
}

.información .caja-contenedor .caja img{
    width: 200px;
    height: 200px;
}

.información .caja-contenedor .caja h3{
    font-size: 4rem;
    color:  white;
    padding-top: 1rem;
}

.información .caja-contenedor .caja p{
    text-align: justify;
    font-size: 1.8rem;
    color: black;
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
}

.información .caja-contenedor .caja span{
    font-weight: 550;
    color: var(--oscuro);
    font-size: 2.5rem;
}

.pie-pagina{
    width: 100%;
    background-color: white;
    margin-top: 80px;
}

.pie-pagina .grupo-1{
    width: 100%;
    justify-items: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    padding: 20px 0;
}

.box.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie-pagina .grupo-1 .box h2{
    color: var(--oscuro);
    margin-bottom: 15px;
    font-size: 2rem;
    text-align: center;
}

.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: white;
    margin: 4px;
    background-color: var(--oscuro);
    text-align: center;
    font-size: 1.8rem;
    border-radius: 30%;
}

.pie-pagina .grupo-1 .box img{
    margin-top: 55px;
    width: 180px;
}

.pie-pagina .grupo-2{
    background: var(--degradado);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2{
    font-size: 1.5rem;
}

@media(max-width:1200px){
    html{
        font-size:55%;
    }
}

@media (max-width:990px){
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
}

@media(max-width:768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .1s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 80%;
    }

    .inicio .content h3{
        font-size: 3.9rem;
    }

    .inicio .content p{
        font-size: 1.8rem;
    }

    .información h1{
        font-size: 4rem;
    }

    .pie-pagina .grupo-1{
        width: 100%;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px 0px;
    }

    .pie-pagina .grupo-1 .box img{
        margin-top: 0px;
    }

}

@media(max-width:450px){ 
    html{
        font-size: 49%;
    }
}