@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --oscuro: #c03562;
    --claro: #EB652D;
    --degradado:linear-gradient(90deg, var(--claro),var(--oscuro));
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

*::selection{
    background: var(--claro);
    color: white;
}

html{ 
    overflow: auto;
    scroll-behavior: smooth;/*suaviza la navegaci칩n entre section*/
}

body{
    background: url(../imgs/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: hsl(18 81% 55% / 1);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vw;
    border: 0.3em solid hsl(341, 72%, 48%);
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn:hover{
    box-shadow: 0 0 5px #fbbba0,
    0 0 25px #fbbba0, 0 0 50px #fbbba0,
    0 0 100px #fbbba0, 0 0 200px #fbbba0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--oscuro);
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0.5rem;
}

header .logo:hover{
    box-shadow: 0 0 5px #fbbba0,
    0 0 25px #fbbba0, 0 0 50px #fbbba0,
    0 0 100px #fbbba0, 0 0 200px #fbbba0;
}

header .logo span{
    color:var(--claro);
}

header .navbar a{
    font-size: 1.3rem;
    font-weight: 550;
    margin-left: 1.2rem;
    color: var(--oscuro);
    border-radius: 1rem;
    padding: 0.5rem;
}

header .navbar a.nav-hover-effect {
    color: white;
    background: var(--degradado);
    box-shadow: 0 0 5px #fbbba0,
    0 0 15px #fbbba0, 0 0 30px #fbbba0,
    0 0 60px #fbbba0, 0 0 100px #fbbba0;
}

header input{
    display: none;
}

header label{
    font-size: 2rem;
    color: var(--oscuro);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.inicio {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
}

.inicio .content{
    width: 50%;
    margin-right: 6rem;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3rem);
    }
}

.inicio .content h3{
    font-size: 3rem;
    color: white;
    animation-name: caer;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    margin-bottom: 1rem;
}

.inicio .content h3 span{
    color: var(--oscuro);
    background-color: #f9f9f9;
    padding: 0.5rem 1rem; 
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.inicio .content h3 .Lector{
    color: var(--claro);
    padding: 0rem;
}

@keyframes caer{
    from{
        transform: translateY(-120px);
    }
    to{
        transform: translateY(0);
    }
}

.inicio .content p{
    font-size: 1.3rem;
    font-weight: 500;
    color:white;
    padding: 30px;
    border-radius: 1rem;
    margin-top: 10px;
    background: var(--degradado);
    border: 5px solid #f9f9f9;
}

.drop-area {
    border: 5px dashed white;
    height: 60vh;
    width: 50vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255 255 255 / 40%);
    backdrop-filter: blur(20px);
}

.drop-area-hover {
    background: var(--degradado);
}

.drop-area.active {
    background-color: rgba(160 245 251 / 50%);
    backdrop-filter: blur(20px);
}

.drop-area h2 {
    font-size: 30px;
    color: #e5e5e5;
    margin-top: 20px;
}

.drop-area button {
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    background: var(--degradado);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.drop-area img {
    width: 40%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 20px 20px 20px;
    max-width: 80%;
    margin: auto;
}

.grid-item {
    background: rgba(235 101 45 / 30%);
    backdrop-filter: blur(20px);
    border: 3px white solid;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item-hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
}

.grid-item h2 {
    margin: 0 0 10px 0;
    color: #e5e5e5;
    font-size: 2rem;
}

.grid-item p {
    font-size: 1.3rem;
    color: #e5e5ee;
    font-weight: 500;
}

.grid-item img {
    max-width: 50%;
    height: auto;
    width: 10rem;
}

.gr치ficas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tablas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-g {
    display: flex;
    align-items: center;
    justify-content: center;
}

.g {
    width: 500px;
    height: 400px;
    border: 5px solid var(--claro);
}

.t {
    width: 600px;
    height: 450px;
    border: 5px solid var(--claro);
}

.container-t {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    color: #e5e5ee;
    background: rgba(235 101 45 / 30%);
    backdrop-filter: blur(20px);
    padding: 15px;
    border: 3px solid #e5e5e5;
    border-radius: 10px;
}

.container-t label {
    margin-bottom: 10px;
}

.container-t div {
    margin-top: 10px;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-transform: capitalize;
    padding: 1rem;
    background: var(--degradado);
    border: 5px solid #f9f9f9;
    border-radius: 50%;
    max-width: 400px; 
    margin: 2rem auto;
    animation-name: rebotar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rebotar{
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%{
        transform: translateY(-30px);
    }

    60%{
        transform: translateY(-15px);
    }
}

.informaci칩n .caja-contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.2rem;
}

.picture {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid var(--oscuro);
    box-shadow: 5px 7px 25px rgba(0,0,0, .5);
    animation: float 3s linear infinite;
}

.picture img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.picture img:hover {
    transform: scale(1.2);
}

.aboutMe {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.aboutMe h4 span {
    color: var(--claro);
}

.aboutMe h4 {
    color: #e5e5e5;
    font-size: 1.5em;
    text-align: left;
    padding: 0 20px 10px 20px;
}

.aboutMe h2 {
    color: white;
    font-size: 2rem;
}

.aboutMe p{
    color: #e5e5e5;
}

.aboutMe .info h2 {
    text-align: center;
}

.info h3{
    color: white;
    font-size: 1.2rem;
    margin-top: 10px;
}

.info h3~p {
    margin-top: 10px;
}

.info {
    background: var(--degradado);
    backdrop-filter: blur(2px);
    padding: 10px 20px 30px 20px;
    border-radius: 30px;
    border: 2px solid white;
}

.info p {
    color: #e5e5e5;
    font-size: 18px;
    text-align: justify;
}

.aboutMe .social i {
    margin-top: 2rem;
    color: #e5e5ee;
    font-size: 2rem;
    margin-right: 10px;
    transition: 0.5s;
}

.aboutMe .social i:hover{
    color: #007ced;
    transform: rotate(360deg);
}

.pie-pagina{
    width: 100%;
    background-color: white;
    margin-top: 80px;
}

.pie-pagina .grupo-1{
    width: 100%;
    justify-items: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    padding: 20px 0;
}

.pie-pagina .grupo-1 .box h2{
    color: var(--oscuro);
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
}

.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: white;
    margin: 4px;
    background-color: var(--oscuro);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 30%;
}

.pie-pagina .grupo-1 .red-social a:hover{
    transform: rotate3d(1, 1, 1, 30deg) scale(1.3);
    transition: .5s;
}

.pie-pagina .grupo-1 .box img{
    margin-top: 55px;
    width: 180px;
}

.pie-pagina .grupo-2{
    background: var(--degradado);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2{
    font-size: 1rem;
}

.loader {
    background-color: #fff;
    width: 120px;
    height: 150px;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(#ddd 50%, #bbb 51%),
        linear-gradient(#ddd, #ddd),
        linear-gradient(#ddd, #ddd),
        radial-gradient(ellipse at center,
            #aaa 25%, #eee 26%,
            #eee 50%, #0000 55%),
        radial-gradient(ellipse at center,
            #aaa 25%,
            #eee 26%,
            #eee 50%, #0000 55%),
        radial-gradient(ellipse at center,
            #aaa 25%,
            #eee 26%,
            #eee 50%, #0000 55%);
    background-position: 
        0 20px,
        45px 0,
        8px 6px,
        55px 3px,
        75px 3px,
        95px 3px;
    background-size:
        100% 4px,
        1px 23px,
        30px 8px,
        15px 15px,
        15px 15px,
        15px 15px;
    position: relative;
    border-radius: 6%;
    transform-origin: 60px 180px;
}

.loader-hidden {
    display: none;
}

.loader::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 5px;
    background: #aaa;
    left: 5px;
    top: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 102px 0 #aaa;
}

.loader-spinning::after {
    animation: spin 3s ease-in-out infinite;
}

.loader::after {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    background-color: #bbdefb;
    background-image: 
        linear-gradient(to right,
            #0004 0%,
            #0004 49%,
            #0000 50%,
            #0000 100%),
        linear-gradient(135deg,
            #64b5f6 50%,
            #607d8b 51%);
    background-size: 30px 100%, 90px 80px;
    background-repeat: repeat, no-repeat;
    background-position: 0 0;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid #ddd;
    box-shadow: 
        0 0 0 4px #999 inset,
        0 0 6px 6px #0004 inset;
    transform-origin: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(750deg);
    }
    100% {
        transform: rotate(1800deg);
    }
}

@media (max-width: 1625px){
    .aboutMe {
        max-width: 600px;
    }
}

@media (max-width: 1350px){
    .inicio .content h3{
        font-size: 2.7rem;
    }

}

@media (max-width: 1281px){
    .picture {
        width: 350px;
        height: 350px;
    }
    .aboutMe {
        max-width: 500px;
    }

    .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px;
    }

    .inicio .content, .inicio .drop-area {
        width: 100%;
        margin: 0;
        padding: 3% 5% 3% 5%;
    }

    .drop-area {
        max-width: 50%;
        height: 38vh;
    }
}

@media(max-width: 1077px){
    .picture {
        width: 300px;
        height: 300px;
    }
}

@media (max-width:990px){
    section{
        padding:0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

    .inicio {
        padding-top: 150px;
    }

    header .navbar a {
        font-size: 1.18rem;
        margin-left: 0.5rem;
    }

    header .logo {
        font-size: 1.5rem;
    }

    .caja-contenedor {
        flex-direction: column;
        padding-top: 2rem;
    }

    .aboutMe {
        padding: 40px 0px;
    }
}

@media(max-width:801px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .1s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 1.2rem;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        padding-top: 150px;
    }

    .informaci칩n h1{
        font-size: 2.4rem;
        max-width: 300px; 
    }

    .pie-pagina .grupo-1{
        width: 100%;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px 0px;
    }

    .pie-pagina .grupo-1 .box img{
        margin-top: 0px;
    }

    .drop-area {
        max-width: 50%;
        height: 300px;
    }

}

@media (max-width: 650px) {

    .drop-area button {
        font-size: 15px;
    }

    .drop-area h2 {
        font-size: 1.3rem;
    }
}