@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --oscuro: #3a02c1;
    --claro: #8c16c0;
    --degradado:linear-gradient(135deg, var(--claro),var(--oscuro));
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.parallax h1 {
    font-size: 4rem;
    color: white;
    position: fixed; 
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    z-index: 3;
    transition: top 0.05s ease-out;
}

.parallax h1 span {
    color: var(--oscuro);
    background-color: #f9f9f9;
    padding: 0.5rem 1rem; 
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.parallax h1 .Tetri {
    color: var(--claro);
    padding: 0rem;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: url("../parallax/fondo.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

.parallax img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.1s ease;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    background-color: #3a02c1;
}